body
{
  background-color: #b0e0e6
}
h2
{
  border: 1px solid black
}
h3{
  color: purple
}
#itemone{
  text-decoration: overline;
  color: purple;
}
p{
  background-color: #fffca5

}
#link{
  color: red
}
#area{
  border: 5px solid gray;
  width: 800px;
  height: 400px;
}
input{
  border: 2px solid red;
}
.feedback{
  background-color: blue;
  border: 4px dashed yellow;
}
